﻿/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */
body
{
    background-image: url('../images/BackgroundImage.jpg');
    background-position: -27px -329px;
    /*background-image: url('../images/BackgroundImage.jpg');
    background-position: right top;*/
    background-color: #E9E5E2;
    margin: 0px;
    padding: 0px;
    font-family: "Gill Sans MT", Arial, Helvetica, sans-serif !important;
}

.cl
{
    clear: both;
}

a
{
    color: #5C2856;
}

#wrapper
{
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

    #wrapper.toggled
    {
        padding-left: 250px;
    }

#sidebar-wrapper
{
    z-index: 1000;
    position: absolute;
    left: 250px;
    width: 0;
    margin-left: -250px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper
{
    width: 250px;
}

#page-content-wrapper
{
    width: 100%;
    padding: 2px 15px 15px 50px;
}

#wrapper.toggled #page-content-wrapper
{
    position: absolute;
    margin-right: -250px;
}

.navbar
{
    background: #613663;
    border-radius: 0;
    margin: 0;
}

.brand
{
    display: block;
    margin: 10px;
    width: 320px;
}

#sideMenuBtn
{
    position: absolute;
    height: 120px;
    width: 40px;
    right: -45px;
    display: none;
    top: 0;
}

    #sideMenuBtn img
    {
        position: absolute;
        height: 120px;
    }

.container-fluid
{
    position: relative;
}

.dateline1
{
    font-size: 1.2em;
    color: #FFF;
    text-align: right;
    padding: 10px 10px 0 0;
    margin: 0;
}

.dateline2
{
    font-size: 1.5em;
    color: #FFF;
    text-align: right;
    padding: 0 10px 10px 0;
    margin: 0;
}

.panel-heading
{
    background: #FFF;
    margin-bottom: 2px;
    border-radius: 6px 6px 0 0;
}

i.icon32 img
{
    width: 32px;
    height: 32px;
}

i.icon24
{
    font-size: 15px;
    font-style: normal;
    cursor: pointer;
    margin: 0 1px;
    height: 24px;
}

    i.icon24 img
    {
        width: 24px;
        height: 24px;
        margin: 0 5px 0 0;
        font-size: 14px;
        font-style: normal;
    }

.panel-heading span
{
    font-size: 1em;
    color: #5C2856;
    line-height: 1.5em;
}

.panel-body
{
    background: #FFF;
    margin-bottom: 2px;
}

.panel-footer
{
    background: #5C2856;
    border: 0;
    border-radius: 0 0 6px 6px;
    color: #FFF;
    margin-bottom: 10px;
}

    .panel-footer p
    {
        margin: 3px;
        color: #C982AE;
    }

.modal-backdrop
{
    background: #613663!important;
}

.table
{
    margin: 0;
    /*color: #B75892;*/
}
/*color:#B75892*/
.spacer1
{
    clear: both;
    height: 1em;
}

.nav > li > a
{
    padding: 3px 15px;
}

.showPanel
{
    display: block!important;
}

.width3
{
    width: 25%;
}

.width4
{
    width: 33.33333333%;
}

.sideMenuBg
{
    background: #FFF;
    margin-bottom: 2px;
    padding: 5px;
}

.sideMenuSingle
{
    color: #333333;
    font-size: 18px;
    display: block;
}

.txtSearchOfficer
{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-image: none;
    border-color: #C982AE;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 1px;
    margin: 0 10px;
    padding: 0;
    width: calc(100% - 100px);
    height: 28px;
}

.navbar
{
    border: none!important;
}

.nav.topnav
{
    padding: 0px;
}

    .nav.topnav li a
    {
        font-size: 16px;
        color: #FFF!important;
        padding: 10px;
        background: url(../images/div.png) no-repeat right center;
    }

    .nav.topnav li:last-child a
    {
        background: none;
    }

    .nav.topnav li a:hover, .nav.topnav li a:focus
    {
        background-color: rgba(0, 0, 0, 0)!important;
    }

.popover
{
    max-width: 320px;
}

.popover-content
{
    color: #fff;
    font-size: 12px;
    width: 320px;
}

    .popover-content ul
    {
        margin: 0;
        padding: 0;
    }

    .popover-content td
    {
        padding: 5px;
    }

    .popover-content ul li
    {
        list-style: none;
        margin: 0;
        padding: 0;
    }

#txtRefreshTime
{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-color: #fff;
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 1px;
    color: #fff;
    text-align: center;
    width: 30px;
    margin: 0 20px;
}

.dropdown-menu td
{
    padding: 5px;
}

.dropdown-menu h3
{
    color: #FFF;
}

.sidemenuIcon
{
    position: relative;
    cursor: pointer;
}
/* Tree menu Styles */
.tree
{
    height: 520px;
    /*overflow-x: auto;*/
    overflow-y: auto;
}

    .tree ul
    {
        margin: 0;
        padding: 0;
    }

    .tree li
    {
        list-style-type: none;
        margin: 0;
        padding: 0 0 0 10px;
        /*position: relative;*/
    }

        .tree li > ul li
        {
            display: none;
        }

    .tree i
    {
        color: #B75892;
    }

    .tree a
    {
        color: #444444;
        padding: 10px 10px 10px 0px;
        display: block;
    }

        .tree a:hover, .tree a:focus
        {
            text-decoration: none;
        }

.lastLeaf
{
    background: url(../images/gn-Menuselectarrow.png) no-repeat right center;
    color: #FFF!important;
}

.lastLeafMouse
{
    background: url(../images/gn-Menuselectarrow.png) no-repeat right center;
    color: #FFF!important;
}

.lastLeaf i
{
    color: #FFF!important;
}
/*On - Off Switch Css*/
.onoffswitch-checkbox
{
    display: none;
}

.onoffswitch-label
{
    border: 1px solid #613663;
    cursor: pointer;
    display: block;
    float: right;
    overflow: hidden;
    position: relative;
    width: 93px;
}

.onoffswitch-inner
{
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
    width: 200%;
}

    .onoffswitch-inner:before, .onoffswitch-inner:after
    {
        box-sizing: border-box;
        color: white;
        float: left;
        font-size: 16px;
        font-weight: bold;
        height: 25px;
        line-height: 26px;
        padding: 0;
        width: 50%;
    }

    .onoffswitch-inner:before
    {
        background-color: #C982AE;
        color: #613663;
        content: "ON";
        padding-left: 15px;
    }

    .onoffswitch-inner:after
    {
        background-color: #C982AE;
        color: #613663;
        content: "OFF";
        padding-right: 15px;
        text-align: right;
    }

.onoffswitch-switch
{
    background: #613663;
    bottom: 0;
    height: 25px;
    margin: 0;
    position: absolute;
    right: 66px;
    top: 0;
    transition: all 0.3s ease-in 0s;
    width: 25px;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner
{
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch
{
    right: 0;
}

.modal-backdrop.in
{
    opacity: 0.9!important;
}

.modal-content
{
    background-clip: padding-box;
    background-color: transparent;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    outline: 0 none;
    position: relative;
    color: #B75892;
}

.modal-header, .modal-body, .modal-footer
{
    border: none;
    margin-bottom: 2px;
    background-color: #ffffff;
}


.modal-header
{
    border-radius: 8px 8px 0 0;
}

.modal-footer
{
    border-radius: 0 0 8px 8px;
}

.modelWide
{
    width: 90%;
    color: #FFF;
}

    .modelWide h1, .modelWide h3
    {
        color: #FFF;
    }

.largeTxt
{
    font-size: 3em;
    line-height: 1em;
    margin: 0;
    float: left;
}

    .largeTxt span
    {
        font-size: 20px;
        line-height: 20px;
    }

.bubblesOuter
{
    padding: 10px;
}

.bubble
{
    background-image: url("../images/top-User-ico.png");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 13% auto;
    border-radius: 5px;
    float: left;
    font-size: 1.3em;
    margin-bottom: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    width: 100%;
}

.bubbleSmall
{
    border-radius: 50%;
    float: left;
    font-size: 1em;
    height: 50px;
    line-height: 3.3;
    margin: 5px;
    text-align: center;
    width: 50px;
}

.redBub
{
    background-color: #F41D00;
}

.greenBub
{
    background-color: #278203;
}

.blueBub
{
    background-color: #373D79;
}

.yellowBub
{
    background-color: #F5C300;
}

.wideModelClose
{
    color: #fff;
    float: right;
    font-size: 5em;
    line-height: 3px;
    text-align: center;
    margin: 30px 0 0;
    font-family: caption;
}

    .wideModelClose:hover
    {
        text-decoration: none;
        color: #CCC;
    }

    .wideModelClose span
    {
        font-size: 12px;
    }

.panel-body
{
    min-height: 240px;
    border-radius: 0 0 6px 6px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus
{
    background: url(../images/gn-Menuselectarrow.png) right center;
}

.fancybox-inner .col-md-3, .fancybox-inner .col-md-4, .fancybox-inner .col-md-5, .fancybox-inner .col-md-6
{
    width: 800px!important;
    display: block!important;
}

.fancybox-inner
{
    width: auto!important;
    height: auto!important;
}

.fancybox-wrap
{
    -moz-transform: rotate(0deg) scale(1.5, 1.5) skewX(0deg) skewY(0deg) translate(0px, 0px); /* FF3.5+ */
    -webkit-transform: rotate(0deg) scale(1.5, 1.5) skew(0deg, 0deg) translate(0px, 0px); /*Saf3.1+, Chrome*/
    -o-transform: rotate(0deg) scale(1.5, 1.5) skew(0deg, 0deg) translate(0px, 0px); /* Opera 10.5 */
    -ms-transform: rotate(0deg) scale(1.5, 1.5) skew(0deg, 0deg) translate(0px, 0px); /* IE 9 */
    transform: rotate(0deg) scale(1.5, 1.5) skew(0deg, 0deg) translate(0px, 0px);
}

.width30
{
    width: 100%;
    float: left;
}

.width70
{
    width: 100%;
}

.popover
{
    background: #B75892; /*rgba(201, 130, 175, 0.8);*/
    border: none;
}

    .popover.bottom > .arrow:after
    {
        border-bottom-color: rgba(201, 130, 175, 0.8);
    }
/*LightBox*/

/*@media(min-width:768px)
{*/
#wrapper
{
    padding-left: 250px;
}

    #wrapper.toggled
    {
        padding-left: 0;
    }

#sidebar-wrapper
{
    width: 275px;
}

#wrapper.toggled #sidebar-wrapper
{
    margin-left: -500px;
}

#page-content-wrapper
{
    padding: 2px 20px 20px 50px;
}

#wrapper.toggled #page-content-wrapper
{
    position: relative;
    margin-right: 0;
}


/*@media(max-width:768px)
{
    .width3;

{
    width: 100%;
}

.width4
{
    width: 100%;
}
}*/
#tbl10353 .col-md-4.col-sm-4
{
    padding-left: 8px;
    padding-right: 8px;
}

#page-content-wrapper .container-fluid
{
    margin-top: 5px;
}

.nav.topnav li a.targetNew
{
    display: block;
    float: left;
    font-size: 12px;
    padding: 5px 0;
}

.marquee
{
    /*background-color: #ecd5e3;*/
    display: block;
    height: 30px;
    width: 100%;
}

.h2Font
{
    font-size: 20px;
    /*margin-bottom: 10px;*/
    margin-top: 10px;
}

.H3Alignment
{
    float: left;
    margin: 2px 15px 0px 0px;
}
