/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */
body {
    background-image: url('../images/BackgroundImage.jpg');
    background-position: -27px -329px;
    /*background-image: url('../images/BackgroundImage.jpg');
    background-position: right top;*/
    background-color: #E9E5E2;
    margin: 0px;
    padding: 0px;
    font-family: "Gill Sans MT", Arial, Helvetica, sans-serif !important;
}

.cl {
    clear: both;
}

a {
    color: #5C2856;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

    #wrapper.toggled {
        padding-left: 250px;
    }

#sidebar-wrapper {
    z-index: 100;
    position: absolute;
    left: 250px;
    width: 0;
    margin-left: -250px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    padding: 2px 15px 15px 50px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

.navbar {
    background: #613663;
    border-radius: 0;
    margin: 0;
}

.brand {
    display: block;
    margin: 10px;
    width: 320px;
}

#sideMenuBtn {
    position: absolute;
    height: 120px;
    width: 40px;
    right: -45px;
    display: none;
    top: 0;
}

    #sideMenuBtn img {
        position: absolute;
        height: 120px;
    }

.container-fluid {
    position: relative;
}

.dateline1 {
    font-size: 1.2em;
    color: #FFF;
    text-align: right;
    padding: 10px 10px 0 0;
    margin: 0;
}

.dateline2 {
    font-size: 1.5em;
    color: #FFF;
    text-align: right;
    padding: 0 10px 10px 0;
    margin: 0;
}

.panel-heading {
    background: #FFF;
    margin-bottom: 2px;
    border-radius: 6px 6px 0 0;
}

i.icon32 img {
    width: 32px;
    height: 32px;
}

i.icon24 {
    font-size: 15px;
    font-style: normal;
    cursor: pointer;
    margin: 0 1px;
    height: 24px;
}

    i.icon24 img {
        width: 24px;
        height: 24px;
        margin: 0 5px 0 0;
        font-size: 14px;
        font-style: normal;
    }

.panel-heading span {
    font-size: 1em;
    color: #5C2856;
    line-height: 1.5em;
}

.panel-body {
    background: #FFF;
    margin-bottom: 2px;
}

.panel-footer {
    background: #5C2856;
    border: 0;
    border-radius: 0 0 6px 6px;
    color: #FFF;
    margin-bottom: 10px;
}

    .panel-footer p {
        margin: 3px;
        color: #C982AE;
    }

.modal-backdrop {
    background: #613663 !important;
}

.table {
    margin: 0;
    /*color: #B75892;*/
}
/*color:#B75892*/
.spacer1 {
    clear: both;
    height: 1em;
}

.nav > li > a {
    padding: 3px 15px;
}

.showPanel {
    display: block !important;
}

.width3 {
    width: 25%;
}

.width4 {
    width: 33.33333333%;
}

.sideMenuBg {
    background: #FFF;
    margin-bottom: 2px;
    padding: 5px;
}

.sideMenuSingle {
    color: #333333;
    font-size: 18px;
    display: block;
}

.txtSearchOfficer {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-image: none;
    border-color: #C982AE;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 1px;
    margin: 0 10px;
    padding: 0;
    width: calc(100% - 100px);
    height: 28px;
}

.navbar {
    border: none !important;
}

.nav.topnav {
    padding: 0px;
}

    .nav.topnav li a {
        font-size: 16px;
        color: #FFF !important;
        padding: 10px;
        background: url(../images/div.png) no-repeat right center;
    }

    .nav.topnav li:last-child a {
        background: none;
    }

    .nav.topnav li a:hover, .nav.topnav li a:focus {
        background-color: rgba(0, 0, 0, 0) !important;
    }

.popover {
    max-width: 320px;
}

.popover-content {
    color: #fff;
    font-size: 12px;
    width: 320px;
}

    .popover-content ul {
        margin: 0;
        padding: 0;
    }

    .popover-content td {
        padding: 5px;
    }

    .popover-content ul li {
        list-style: none;
        margin: 0;
        padding: 0;
    }

#txtRefreshTime {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-color: #fff;
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 1px;
    color: #fff;
    text-align: center;
    width: 30px;
    margin: 0 20px;
}

.dropdown-menu td {
    padding: 5px;
}

.dropdown-menu h3 {
    color: #FFF;
}

.sidemenuIcon {
    position: relative;
    cursor: pointer;
}
/* Tree menu Styles */
.tree {
    height: 520px;
    /*overflow-x: auto;*/
    overflow-y: auto;
}

    .tree ul {
        margin: 0;
        padding: 0;
    }

    .tree li {
        list-style-type: none;
        margin: 0;
        padding: 0 0 0 10px;
        /*position: relative;*/
    }

        .tree li > ul li {
            display: none;
        }

    .tree i {
        color: #B75892;
    }

    .tree a {
        color: #444444;
        padding: 10px 10px 10px 0px;
        display: block;
    }

        .tree a:hover, .tree a:focus {
            text-decoration: none;
        }

.lastLeaf {
    background: url(../images/gn-Menuselectarrow.png) no-repeat right center;
    color: #FFF !important;
}

.lastLeafMouse {
    background: url(../images/gn-Menuselectarrow.png) no-repeat right center;
    color: #FFF !important;
}

.lastLeaf i {
    color: #FFF !important;
}
/*On - Off Switch Css*/
.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    border: 1px solid #613663;
    cursor: pointer;
    display: block;
    float: right;
    overflow: hidden;
    position: relative;
    width: 93px;
}

.onoffswitch-inner {
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
    width: 200%;
}

    .onoffswitch-inner:before, .onoffswitch-inner:after {
        box-sizing: border-box;
        color: white;
        float: left;
        font-size: 16px;
        font-weight: bold;
        height: 25px;
        line-height: 26px;
        padding: 0;
        width: 50%;
    }

    .onoffswitch-inner:before {
        background-color: #C982AE;
        color: #613663;
        content: "ON";
        padding-left: 15px;
    }

    .onoffswitch-inner:after {
        background-color: #C982AE;
        color: #613663;
        content: "OFF";
        padding-right: 15px;
        text-align: right;
    }

.onoffswitch-switch {
    background: #613663;
    bottom: 0;
    height: 25px;
    margin: 0;
    position: absolute;
    right: 66px;
    top: 0;
    transition: all 0.3s ease-in 0s;
    width: 25px;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0;
}

.modal-backdrop.in {
    opacity: 0.9 !important;
}

.modal-content {
    background-clip: padding-box;
    background-color: transparent;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    outline: 0 none;
    position: relative;
    color: #B75892;
}

.modal-header, .modal-body, .modal-footer {
    border: none;
    margin-bottom: 2px;
    background-color: #ffffff;
}


.modal-header {
    border-radius: 8px 8px 0 0;
}

.modal-footer {
    border-radius: 0 0 8px 8px;
}

.modelWide {
    width: 90%;
    color: #FFF;
}

    .modelWide h1, .modelWide h3 {
        color: #FFF;
    }

.largeTxt {
    font-size: 3em;
    line-height: 1em;
    margin: 0;
    float: left;
}

    .largeTxt span {
        font-size: 20px;
        line-height: 20px;
    }

.bubblesOuter {
    padding: 10px;
}

.bubble {
    background-image: url("../images/top-User-ico.png");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 13% auto;
    border-radius: 5px;
    float: left;
    font-size: 1.3em;
    margin-bottom: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    width: 100%;
}

.bubbleSmall {
    border-radius: 50%;
    float: left;
    font-size: 1em;
    height: 50px;
    line-height: 3.3;
    margin: 5px;
    text-align: center;
    width: 50px;
}

.redBub {
    background-color: #F41D00;
}

.greenBub {
    background-color: #278203;
}

.blueBub {
    background-color: #373D79;
}

.yellowBub {
    background-color: #F5C300;
}

.wideModelClose {
    color: #fff;
    float: right;
    font-size: 5em;
    line-height: 3px;
    text-align: center;
    margin: 30px 0 0;
    font-family: caption;
}

    .wideModelClose:hover {
        text-decoration: none;
        color: #CCC;
    }

    .wideModelClose span {
        font-size: 12px;
    }

.panel-body {
    min-height: 240px;
    border-radius: 0 0 6px 6px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background: url(../images/gn-Menuselectarrow.png) right center;
}

.fancybox-inner .col-md-3, .fancybox-inner .col-md-4, .fancybox-inner .col-md-5, .fancybox-inner .col-md-6 {
    width: 800px !important;
    display: block !important;
}

.fancybox-inner {
    width: auto !important;
    height: auto !important;
}

.fancybox-wrap {
    -moz-transform: rotate(0deg) scale(1.5, 1.5) skewX(0deg) skewY(0deg) translate(0px, 0px); /* FF3.5+ */
    -webkit-transform: rotate(0deg) scale(1.5, 1.5) skew(0deg, 0deg) translate(0px, 0px); /*Saf3.1+, Chrome*/
    -o-transform: rotate(0deg) scale(1.5, 1.5) skew(0deg, 0deg) translate(0px, 0px); /* Opera 10.5 */
    -ms-transform: rotate(0deg) scale(1.5, 1.5) skew(0deg, 0deg) translate(0px, 0px); /* IE 9 */
    transform: rotate(0deg) scale(1.5, 1.5) skew(0deg, 0deg) translate(0px, 0px);
}

.width30 {
    width: 100%;
    float: left;
}

.width70 {
    width: 100%;
}

.popover {
    background: #B75892; /*rgba(201, 130, 175, 0.8);*/
    border: none;
}

    .popover.bottom > .arrow:after {
        border-bottom-color: rgba(201, 130, 175, 0.8);
    }
/*LightBox*/

/*@media(min-width:768px)
{*/
#wrapper {
    padding-left: 250px;
}

    #wrapper.toggled {
        padding-left: 0;
    }

#sidebar-wrapper {
    width: 275px;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: -500px;
}

#page-content-wrapper {
    padding: 2px 20px 20px 50px;
}

#wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
}


/*@media(max-width:768px)
{
    .width3;

{
    width: 100%;
}

.width4
{
    width: 100%;
}
}*/
#tbl10353 .col-md-4.col-sm-4 {
    padding-left: 8px;
    padding-right: 8px;
}

#page-content-wrapper .container-fluid {
    margin-top: 5px;
}

.nav.topnav li a.targetNew {
    display: block;
    float: left;
    font-size: 12px;
    padding: 5px 0;
}

.marquee {
    /*background-color: #ecd5e3;*/
    display: block;
    height: 30px;
    width: 100%;
}

.h2Font {
    font-size: 20px;
    /*margin-bottom: 10px;*/
    margin-top: 10px;
}

.pClientName {
    color: #fff;
    float: left;
    font-size: 18px;
    margin-right: 15px;
    margin-top: 14px;
}

#DClient > img {
    margin-top: 14px;
}


.H3Alignment {
    float: left;
    margin: 2px 15px 0px 0px;
}

/*.modal-header h3 label*/
.h3Name {
    font-size: 14px;
}

.HCasenumber {
    background-clip: padding-box;
    background-color: transparent;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    outline: 0 none;
    position: relative;
    color: #3071a9;
}


/* Timeline view */
.cd-container {
    /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
}

    .cd-container::after {
        /* clearfix */
        content: '';
        display: table;
        clear: both;
    }

/* -------------------------------- 

Main components 

-------------------------------- */
header {
    height: 200px;
    line-height: 200px;
    text-align: center;
    background: #303e49;
}

    header h1 {
        color: white;
        font-size: 18px;
        font-size: 1.125rem;
    }

@media only screen and (min-width: 1170px) {
    header {
        height: 300px;
        line-height: 300px;
    }

        header h1 {
            font-size: 24px;
            font-size: 1.5rem;
        }
}

#cd-timeline {
    position: relative;
    padding: 2em 0;
    /*margin-top: 2em;*/
    margin-bottom: 2em;
}

    #cd-timeline::before {
        /* this is the vertical line */
        content: '';
        position: absolute;
        top: 0;
        left: 18px;
        height: 100%;
        width: 4px;
        background: #d7e4ed;
    }

@media only screen and (min-width: 1170px) {
    #cd-timeline {
        margin-top: 3em;
        margin-bottom: 3em;
    }

        #cd-timeline::before {
            left: 50%;
            margin-left: -2px;
        }
}

.cd-timeline-block {
    position: relative;
    margin: 2em 0;
}

    .cd-timeline-block:after {
        content: "";
        display: table;
        clear: both;
    }

    .cd-timeline-block:first-child {
        margin-top: 0;
    }

    .cd-timeline-block:last-child {
        margin-bottom: 0;
    }

@media only screen and (min-width: 1170px) {
    .cd-timeline-block {
        margin: 4em 0;
    }

        .cd-timeline-block:first-child {
            margin-top: 0;
        }

        .cd-timeline-block:last-child {
            margin-bottom: 0;
        }
}

.cd-timeline-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

    .cd-timeline-img img {
        display: block;
        width: 24px;
        height: 24px;
        position: relative;
        left: 50%;
        top: 50%;
        margin-left: -12px;
        margin-top: -12px;
    }

    .cd-timeline-img.cd-picture {
        background: #75ce66;
    }

    .cd-timeline-img.cd-movie {
        background: #c03b44;
    }

    .cd-timeline-img.cd-location {
        background: #f0ca45;
    }

@media only screen and (min-width: 1170px) {
    .cd-timeline-img {
        width: 60px;
        height: 60px;
        left: 50%;
        margin-left: -30px;
        /* Force Hardware Acceleration in WebKit */
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
    }

    .cssanimations .cd-timeline-img.is-hidden {
        visibility: hidden;
    }

    .cssanimations .cd-timeline-img.bounce-in {
        visibility: visible;
        -webkit-animation: cd-bounce-1 0.6s;
        -moz-animation: cd-bounce-1 0.6s;
        animation: cd-bounce-1 0.6s;
    }
}

@-webkit-keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.5);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
    }
}

@-moz-keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        -moz-transform: scale(0.5);
    }

    60% {
        opacity: 1;
        -moz-transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
    }
}

@keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}

.cd-timeline-content {
    position: relative;
    margin-left: 60px;
    background: white;
    border-radius: 0.25em;
    padding: 1em;
    box-shadow: 0 3px 0 #d7e4ed;
}

    .cd-timeline-content:after {
        content: "";
        display: table;
        clear: both;
    }

    .cd-timeline-content h2 {
        color: #303e49;
    }

    .cd-timeline-content p, .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
        font-size: 13px;
        /*font-size: 0.8125rem;*/
    }

    .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
        display: inline-block;
    }

    .cd-timeline-content p {
        margin: 1em 0;
        line-height: 1.6;
    }

    .cd-timeline-content .cd-read-more {
        float: right;
        padding: .8em 1em;
        background: #acb7c0;
        color: white;
        border-radius: 0.25em;
    }

.no-touch .cd-timeline-content .cd-read-more:hover {
    background-color: #bac4cb;
}

.cd-timeline-content .cd-date {
    float: left;
    padding: .8em 0;
    opacity: .7;
}

.cd-timeline-content::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid white;
}

@media only screen and (min-width: 768px) {
    .cd-timeline-content h2 {
        font-size: 25px;
        margin-top: 0px;
        font-weight: 300;
        /*font-size: 1.25rem;*/
    }

    .cd-timeline-content p {
        font-size: 16px;
        /*font-size: 1rem;*/
    }

    .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
        font-size: 14px;
        /*font-size: 0.875rem;*/
    }
}

@media only screen and (min-width: 1170px) {
    .cd-timeline-content {
        margin-left: 0;
        padding: 1.6em;
        width: 45%;
    }

        .cd-timeline-content::before {
            top: 24px;
            left: 100%;
            border-color: transparent;
            border-left-color: white;
        }

        .cd-timeline-content .cd-read-more {
            float: left;
        }

        .cd-timeline-content .cd-date {
            position: absolute;
            width: 100%;
            left: 122%;
            top: 6px;
            font-size: 16px;
            /*font-size: 1rem;*/
        }

    .cd-timeline-block:nth-child(even) .cd-timeline-content {
        float: right;
    }

        .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
            top: 24px;
            left: auto;
            right: 100%;
            border-color: transparent;
            border-right-color: white;
        }

        .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
            float: right;
        }

        .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
            left: auto;
            right: 122%;
            text-align: right;
        }

    .cssanimations .cd-timeline-content.is-hidden {
        visibility: hidden;
    }

    .cssanimations .cd-timeline-content.bounce-in {
        visibility: visible;
        -webkit-animation: cd-bounce-2 0.6s;
        -moz-animation: cd-bounce-2 0.6s;
        animation: cd-bounce-2 0.6s;
    }
}

@media only screen and (min-width: 1170px) {
    /* inverse bounce effect on even content blocks */
    .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
        -webkit-animation: cd-bounce-2-inverse 0.6s;
        -moz-animation: cd-bounce-2-inverse 0.6s;
        animation: cd-bounce-2-inverse 0.6s;
    }
}

@-webkit-keyframes cd-bounce-2 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(20px);
    }

    100% {
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes cd-bounce-2 {
    0% {
        opacity: 0;
        -moz-transform: translateX(-100px);
    }

    60% {
        opacity: 1;
        -moz-transform: translateX(20px);
    }

    100% {
        -moz-transform: translateX(0);
    }
}

@keyframes cd-bounce-2 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px);
        -moz-transform: translateX(-100px);
        -ms-transform: translateX(-100px);
        -o-transform: translateX(-100px);
        transform: translateX(-100px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(20px);
        -moz-transform: translateX(20px);
        -ms-transform: translateX(20px);
        -o-transform: translateX(20px);
        transform: translateX(20px);
    }

    100% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes cd-bounce-2-inverse {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(-20px);
    }

    100% {
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes cd-bounce-2-inverse {
    0% {
        opacity: 0;
        -moz-transform: translateX(100px);
    }

    60% {
        opacity: 1;
        -moz-transform: translateX(-20px);
    }

    100% {
        -moz-transform: translateX(0);
    }
}

@keyframes cd-bounce-2-inverse {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100px);
        -moz-transform: translateX(100px);
        -ms-transform: translateX(100px);
        -o-transform: translateX(100px);
        transform: translateX(100px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(-20px);
        -moz-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        -o-transform: translateX(-20px);
        transform: translateX(-20px);
    }

    100% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}
