
.searchpanelPendingaction-cs-table
{
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ba87ac), color-stop(1, #5c3550));
    background: -ms-linear-gradient(bottom, #ba87ac, #5c3550);
    background: -moz-linear-gradient(center bottom, #ba87ac 0%, #5c3550 100%);
    background: -o-linear-gradient(bottom, #ba87ac, #5c3550);
    filter: progid:dximagetransform.microsoft.gradient(startColorStr='#ba87ac', EndColorStr='#5c3550');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#5c3550',EndColorStr='#ba87ac')";
    border-radius: 0px;
    color: #ffffff;
    padding: .5% 1%;
    width: 95%;
    font-weight: 600;
}

.searchpanel-cs
{
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ba87ac), color-stop(1, #5c3550));
    background: -ms-linear-gradient(bottom, #ba87ac, #5c3550);
    background: -moz-linear-gradient(center bottom, #ba87ac 0%, #5c3550 100%);
    background: -o-linear-gradient(bottom, #ba87ac, #5c3550);
    filter: progid:dximagetransform.microsoft.gradient(startColorStr='#ba87ac', EndColorStr='#5c3550');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#5c3550',EndColorStr='#ba87ac')";
    border-radius: 0px;
    color: #ffffff;
    float: left;
    margin-bottom: 20px;
    padding: 2px 4px 1px 10px;
    width: 100%;
    font-weight: 600;
}

.searchpanel-cs-Top
{
    color: Black;
}

.searchpanel-cs p.pull-left
{
    margin-bottom: 0;
    margin-top: 7px;
}

.navbar.navbar-default
{
    margin-bottom: 20px;
}

.FindAppUser tr td
{
    padding: 3px 3px 3px 3px;
    font-size: 12px;
    font-weight: 600;
}

    .FindAppUser tr td label
    {
        padding: 3px 3px 3px 3px;
        font-size: 12px;
        font-weight: 600;
    }


.btn-Admin
{
    background-color: #A07193;
    border-color: #8C5E80;
    padding: 3px 3px 3px 3px;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ba87ac), color-stop(1, #5c3550));
    background: -ms-linear-gradient(bottom, #ba87ac, #5c3550);
    background: -moz-linear-gradient(center bottom, #ba87ac 0%, #5c3550 100%);
    background: -o-linear-gradient(bottom, #ba87ac, #5c3550);
    filter: progid:dximagetransform.microsoft.gradient(startColorStr='#ba87ac', EndColorStr='#5c3550');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#5c3550',EndColorStr='#ba87ac')";
    padding: 5px 10px;
}

.Demo thead
{
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ba87ac), color-stop(1, #5c3550));
    background: -ms-linear-gradient(bottom, #ba87ac, #5c3550);
    background: -moz-linear-gradient(center bottom, #ba87ac 0%, #5c3550 100%);
    background: -o-linear-gradient(bottom, #ba87ac, #5c3550);
    filter: progid:dximagetransform.microsoft.gradient(startColorStr='#ba87ac', EndColorStr='#5c3550');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#5c3550',EndColorStr='#ba87ac')";
    border-radius: 5px;
    text-align: center;
}


.DemoPending thead
{
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ba87ac), color-stop(1, #5c3550));
    background: -ms-linear-gradient(bottom, #ba87ac, #5c3550);
    background: -moz-linear-gradient(center bottom, #ba87ac 0%, #5c3550 100%);
    background: -o-linear-gradient(bottom, #ba87ac, #5c3550);
    filter: progid:dximagetransform.microsoft.gradient(startColorStr='#ba87ac', EndColorStr='#5c3550');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#5c3550',EndColorStr='#ba87ac')";
    border-radius: 5px;
    text-align: center;
}

.gridrow-head td
{
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    padding: 5px;
    /*width: 8.333% !important;*/
}


.Demo tbody tr td
{
    color: Black;
    cursor: pointer;
    display: table-cell;
    font-family: "Gill Sans MT",Arial,Helvetica,sans-serif;
    font-size: 10px;
    line-height: 12px;
    padding: 5px;
    text-align: center;
}

.DemoPending tbody tr td
{
    color: Black;
    cursor: pointer;
    display: table-cell;
    font-family: "Gill Sans MT",Arial,Helvetica,sans-serif;
    font-size: 10px;
    line-height: 12px;
    padding: 5px;
    text-align: center;
}



/* DataTables Overrides */

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled
{
    background: transparent;
}

    table.dataTable thead .sorting_asc:after
    {
        content: "\f0de";
        float: right;
        font-family: fontawesome;
    }

    table.dataTable thead .sorting_desc:after
    {
        content: "\f0dd";
        float: right;
        font-family: fontawesome;
    }

    table.dataTable thead .sorting:after
    {
        content: "\f0dc";
        float: right;
        font-family: fontawesome;
        color: rgba(50,50,50,.5);
    }


#PendingActionTable
{
    margin-top: -20px;
    width: 100% !important;
}


#CaseActionTable
{
    margin-top: -20px;
    width: 100% !important;
}


/*#PreviousActionTable
{
    margin-top: -20px;
    width:100% !important;
}*/

#PendingActionTBody
{
    width: 100% !important;
}

#CaseActionTBody
{
    width: 100% !important;
}


#DPendingAction
{
    display: table;
    float: left;
    width: 100%;
}


@media (min-width:980px) and (max-width: 1260px)
{
    /*.Demo tbody tr td
    {
        color: Black;
        cursor: pointer;
        display: table-cell;
        font-family: "Gill Sans MT",Arial,Helvetica,sans-serif;
        font-size: 10px;
        line-height: 12px;
        padding: 5px;
        text-align: center;
    }*/
}

.ui-dialog-titlebar
{
    background: none repeat scroll 0 0 #7a4073 !important;
    color: #ffffff !important;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default
{
    border: 1px solid #d3d3d3;
    background: #e6e6e6 url("../images/ui-bg_glass_75_e6e6e6_1x400.png") 50% 50% repeat-x;
    font-weight: normal;
    color: #555555;
}

.ui-button
{
    background: none repeat scroll 0 0 #54224e !important;
    color: #ffffff !important;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.dataTables_scrollHeadInner
{
    padding: 0 !important;
    width: 100% !important;
}
